<div>
  <h1>ログイン</h1>
</div>

<div>
  <%= form_with(url: login_path,scope: :session, local: true) do |f| %>
  
    <div>
      <%= f.label :email, 'E-mail' %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password %>
    </div>
    
    <%= f.submit 'ログイン' %>
  <% end %>
  
  <p><%= link_to '新規ユーザー登録', signup_path %></p>
</div>