<h2>ログイン完了ユーザー: <%= current_user.userid %></h2>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id,task %> : タスク：<%= task.content %> &gt; ステータス：<%= task.status %></li>
    <% end %>
  </ul>
  <div>
    <%= link_to '新規タスクの作成', new_task_path %>
  </div>
  <div>
    <%= link_to 'ログアウト', logout_path %>
  </div>