<h2>ログイン完了ユーザー: <%= current_user.userid %></h2>
  <div>
    <% @tasks.each do |task| %>
    　<p><%= link_to task.id,task %></p>
      <p>タスク：<%= task.content %></p>
      <p>ステータス:<%= task.status %></p>
    <% end %>
  </div>
  <div>
    <%= form_with(model: @task, local: true) do |f| %>
    <div>
      <%= f.label :content, 'タスク'  %>
      <%= f.text_field :content %>
    </div>
    <div>
      <%= f.label :status,  'ステータス'  %>
      <%= f.text_field :status %>
    </div>
      <%= f.submit '新規タスクの作成' %>
    <% end %>
  </div>
  
  <div>
    <%= link_to 'ログアウト', logout_path %>
  </div>